%table.table.table-sm.table-striped
  %thead
    %tr
      %th{:style => "width: 10px"} #
      %th Name
      %th Face Amount
      %th Annual Premium
      %th Maturity
      %th Last Updated
  %tbody
    = render details

